html, body {
  height: 100%;
  background-color: #001600;
}
body {
  color: white;
  text-align: center;
}

#input {
	width: 100px;
	height: 30px;
	margin: 10px auto;
	display: block;
}

.btn-group {
  margin: 0px 5px 10px 5px;
}

.border {
  width: 300px;
  padding: 25px;
  border: 5px solid white;
  border-radius: 25px;
  margin: auto;
}

p {
  font-size:small;
}

#guessHistory {
  font-size:medium;
}

#smiley{
  margin: 40px;
}
